###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
###< symfony/framework-bundle ###

DATABASE_DRIVER=pdo_mysql
DATABASE_HOST=db
DATABASE_RO_HOST=db
DATABASE_NAME=db
DATABASE_USER=user
DATABASE_PASSWORD=pass
DATABASE_SERVER_VERSION=5.7

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

GOOGLE_TRANSLATE_API_KEY=
